form{
    display: flex;
    justify-content: center;
}

.input-file{
    height: 200px;
    border: 27px darkblue;
    width: 70%;
    box-shadow: 0 0 6px 1px rgb(99, 0, 0);
    position: relative;
}

.choice-file{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 2vmax;
    font-size: calc(1rem + 1vmax);
    text-align: center;
}

form:hover {
    opacity:0.6;
}

form:hover .input-file{
    box-shadow: 0 0 4px 1px rgb(99, 0, 0);
}

input[type=file]{
    cursor: pointer;
    opacity: 0;
    height: inherit;
    width: 100%;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:576px) {

    .choice-file p span{
        display: none;
    }

}

@media (min-width:576px) and (max-width:991px) {

    
}

@media (min-width: 992px) {

    
}